Repository 7clickers/ShowRoom3D, pull requests merged in 2023-03, with the labels that each got.

#124 Norme di progetto
  documentazione_interna/norme_di_progetto.pdf
  latex/interni/doc_interna/norme_di_progetto/config/changelog_input.tex
  latex/interni/doc_interna/norme_di_progetto/config/titlepage_input.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_organizzativi/gestione_infrastrutture/strumenti_collaborativi.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_organizzativi/gestione_organizzativa/pianificazione.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/documentazione/convenzioni.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/documentazione/documentazione_interna/verbali.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/documentazione/struttura_generale.tex
Labels: Documentazione, Da verificare

#123 modifica nomi verbali
  documentazione_esterna/verbali/VE_2022-10-25.pdf
  documentazione_esterna/verbali/VE_2022-10-26.pdf
  documentazione_esterna/verbali/VE_2022-11-17.pdf
  documentazione_esterna/verbali/VE_2023-01-11.pdf
  documentazione_esterna/verbali/VE_2023-01-18.pdf
  documentazione_esterna/verbali/VE_2023-02-17.pdf
  documentazione_interna/verbali/VI_2022-10-19.pdf
  documentazione_interna/verbali/VI_2022-10-25.pdf
  documentazione_interna/verbali/VI_2022-10-26.pdf
  documentazione_interna/verbali/VI_2022-11-04.pdf
  documentazione_interna/verbali/VI_2022-11-09.pdf
  documentazione_interna/verbali/VI_2022-11-16.pdf
  documentazione_interna/verbali/VI_2022-11-23.pdf
  documentazione_interna/verbali/VI_2022-12-01.pdf
  documentazione_interna/verbali/VI_2022-12-07.pdf
  documentazione_interna/verbali/VI_2022-12-14.pdf
  documentazione_interna/verbali/VI_2023-01-04.pdf
  documentazione_interna/verbali/VI_2023-01-25.pdf
  documentazione_interna/verbali/VI_2023-02-01.pdf
  documentazione_interna/verbali/VI_2023-02-08.pdf
  documentazione_interna/verbali/VI_2023-02-24.pdf
Labels: Documentazione, Da verificare

#68 Piano di qualifica
  documentazione_esterna/piano_di_qualifica.pdf
  latex/esterni/doc_esterna/piano_di_qualifica/config/changelog_input.tex
  latex/esterni/doc_esterna/piano_di_qualifica/config/titlepage_input.tex
  latex/esterni/doc_esterna/piano_di_qualifica/piano_di_qualifica.tex
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/ACGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/AdRGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/BVGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/CVGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/EVGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/GulpeaseGen.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/NdPGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/PVGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/PdQGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/PdpGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/images/SVGraph.png
  latex/esterni/doc_esterna/piano_di_qualifica/res/sections/01_content.tex
  latex/esterni/doc_esterna/piano_di_qualifica/res/sections/02_misurazioni.tex
Labels: Documentazione, P=Media, Da verificare

#106 Glossario
  documentazione_esterna/glossario_v0.1.0.pdf
  documentazione_esterna/glossario_v0.2.0.pdf
  latex/esterni/doc_esterna/glossario/config/changelog_input.tex
  latex/esterni/doc_esterna/glossario/config/titlepage_input.tex
  latex/esterni/doc_esterna/glossario/glossario_v0.0.4.tex
  latex/esterni/doc_esterna/glossario/glossario_v0.2.0.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/a/a.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/b/b.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/c/c.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/f/f.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/l/l.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/p/p.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/u/u.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/v/v.tex
  latex/nuovo.txt
  latex/template/package.tex
Labels: Documentazione, P=Media, Da verificare

#128 Piano di progetto
  documentazione_esterna/piano_di_progetto_v1.3.0.pdf
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/04_preventivo.tex
Labels: Documentazione, Da verificare

#129 Lettera di presentazione
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/images/Rino_Sincic_firma.png
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/images/logo.jpeg
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/images/logo_no_motto.jpeg
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/images/uni.png
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/lettera_di_presentazione.pdf
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/lettera_di_presentazione.tex
  script_glossario2.py
Labels: Documentazione, Da verificare

#134 Casi uso correzioni cardin
  documentazione_esterna/analisi_dei_requisiti_v1.0.0.pdf
  documentazione_esterna/analisi_dei_requisiti_v2.0.0.pdf
  latex/esterni/doc_esterna/analisi_dei_requisiti/analisi_dei_requisiti_v2.0.0.tex
  latex/esterni/doc_esterna/analisi_dei_requisiti/config/changelog_input.tex
  latex/esterni/doc_esterna/analisi_dei_requisiti/config/titlepage_input.tex
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC1.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC10-sottocasi.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC10.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC11-14.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC12-13.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC15.1.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC15.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC16-17.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC2.1.1.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC2.1.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC2.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC3-4.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC3.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC5.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC6.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC7-8.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC9.1.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/images/UC9.png
  latex/esterni/doc_esterna/analisi_dei_requisiti/res/sections/02_content.tex
  latex/template/package.tex
Labels: Documentazione, P=Alta, Da verificare

#142 Lettera di presentazione
  documentazione_esterna/lettera_di_presentazione.pdf
  documentazione_interna/studio_di_fattibilita_v1.0.0.pdf
  latex/esterni/doc_esterna/RTB_lettera_di_presentazione/lettera_di_presentazione.tex
Labels: Documentazione, P=Alta, Da verificare
