Repository 7clickers/ShowRoom3D, pull requests merged in 2023-04, with the labels that each got.

#151 VI_29-03-2023
  documentazione_interna/verbali/VI_2023-03-29.pdf
  latex/interni/verbali/verbale_interno_29-03-23/VI_2023-03-29.tex
  latex/interni/verbali/verbale_interno_29-03-23/config/changelog_input.tex
  latex/interni/verbali/verbale_interno_29-03-23/config/titlepage_input.tex
  latex/interni/verbali/verbale_interno_29-03-23/config/tracking_input.tex
  latex/interni/verbali/verbale_interno_29-03-23/res/sections/01_introduction.tex
  latex/interni/verbali/verbale_interno_29-03-23/res/sections/02_content.tex
Labels: Documentazione, P=Bassa, Da verificare

#159 VE_2023-04-05
  documentazione_esterna/verbali/VE_2023-04-05.pdf
  latex/esterni/verbali/verbale_esterno_05-04-2023/VE_05-04-23.tex
  latex/esterni/verbali/verbale_esterno_05-04-2023/config/changelog_input.tex
  latex/esterni/verbali/verbale_esterno_05-04-2023/config/titlepage_input.tex
  latex/esterni/verbali/verbale_esterno_05-04-2023/config/tracking_input.tex
  latex/esterni/verbali/verbale_esterno_05-04-2023/res/sections/01_introduction.tex
  latex/esterni/verbali/verbale_esterno_05-04-2023/res/sections/02_content.tex
Labels: Documentazione, P=Bassa, Da verificare

#160 VI_06-04-2023
  documentazione_interna/verbali/VI_2023-04-06.pdf
  latex/interni/verbali/verbale_interno_06-04-23/VI_2023-04-06.tex
  latex/interni/verbali/verbale_interno_06-04-23/config/changelog_input.tex
  latex/interni/verbali/verbale_interno_06-04-23/config/titlepage_input.tex
  latex/interni/verbali/verbale_interno_06-04-23/config/tracking_input.tex
  latex/interni/verbali/verbale_interno_06-04-23/res/sections/01_introduction.tex
  latex/interni/verbali/verbale_interno_06-04-23/res/sections/02_content.tex
Labels: Documentazione, P=Bassa, Da verificare

#176 VE_14-04-2023
  documentazione_esterna/verbali/VE_2023-04-14.pdf
  latex/esterni/verbali/verbale_esterno_14-04-2023/VE_14-04-23.tex
  latex/esterni/verbali/verbale_esterno_14-04-2023/config/changelog_input.tex
  latex/esterni/verbali/verbale_esterno_14-04-2023/config/titlepage_input.tex
  latex/esterni/verbali/verbale_esterno_14-04-2023/config/tracking_input.tex
  latex/esterni/verbali/verbale_esterno_14-04-2023/res/sections/01_introduction.tex
  latex/esterni/verbali/verbale_esterno_14-04-2023/res/sections/02_content.tex
Labels: Documentazione, P=Bassa, Da verificare

#177 Sprint 1
  .gitignore
  documentazione_esterna/piano_di_progetto_v2.0.2.pdf
  latex/esterni/doc_esterna/piano_di_progetto/config/changelog_input.tex
  latex/esterni/doc_esterna/piano_di_progetto/piano_di_progetto_v2.0.2.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/04_pianificazione.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/05_preventivo.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/06_consuntivo.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/07_attualizzazione_rischi.tex
Labels: Documentazione, P=Alta, Da verificare, G Piano di Progetto

#182 Sprint 2
  documentazione_esterna/piano_di_progetto_v2.0.3.pdf
  latex/esterni/doc_esterna/piano_di_progetto/config/changelog_input.tex
  latex/esterni/doc_esterna/piano_di_progetto/config/titlepage_input.tex
  latex/esterni/doc_esterna/piano_di_progetto/image/gantt_sprint2.png
  latex/esterni/doc_esterna/piano_di_progetto/piano_di_progetto_v2.0.3.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/04_pianificazione.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/05_preventivo.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/06_consuntivo.tex
Labels: Documentazione, P=Alta, Da verificare, G Piano di Progetto

#184 Descrizione ogni quanto si fa accertamento qualità
  documentazione_interna/norme_di_progetto_v1.0.2.pdf
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/gestione_configurazione.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/gestione_qualita.tex
Labels: Documentazione, P=Bassa, Da verificare, G Norme di Progetto

#187 update_glossario
  documentazione_esterna/glossario_v1.0.0.pdf
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/b/b.tex
Labels: Documentazione, P=Bassa, Da verificare

#190 Norme di testing
  documentazione_interna/norme_di_progetto_v1.0.6.pdf
  latex/interni/doc_interna/norme_di_progetto/config/changelog_input.tex
  latex/interni/doc_interna/norme_di_progetto/config/titlepage_input.tex
  latex/interni/doc_interna/norme_di_progetto/norme_di_progetto_v1.0.6.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/verifica/verifica_codice.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/processi_supporto/verifica/verifica_main.tex
Labels: P=Alta, Da verificare, G Norme di Progetto
