Repository 7clickers/ShowRoom3D, pull requests merged in 2023-05, with the labels that each got.

#193 Piano di qualifica
  documentazione_esterna/piano_di_qualifica_v1.0.0.pdf
  latex/esterni/doc_esterna/piano_di_qualifica/res/sections/01_content.tex
Labels: Documentazione, Da approvare, P=Bassa, Da verificare, G Piano di Qualifica

#214 Verifica VI_05-05-23
  documentazione_interna/verbali/VI_2023-05-05.pdf
  latex/interni/verbali/verbale_interno_05-05-23/VI_2023-05-05.tex
  latex/interni/verbali/verbale_interno_05-05-23/config/changelog_input.tex
  latex/interni/verbali/verbale_interno_05-05-23/config/titlepage_input.tex
  latex/interni/verbali/verbale_interno_05-05-23/config/tracking_input.tex
  latex/interni/verbali/verbale_interno_05-05-23/res/sections/01_introduction.tex
  latex/interni/verbali/verbale_interno_05-05-23/res/sections/02_content.tex
Labels: Documentazione, P=Bassa, Da verificare

#231 Decoration dev
  prova-react/src/features/UI/Product_UI/ProductInteractionPrompt.jsx
  prova-react/src/features/UI/Product_UI/ProductUI.jsx
  prova-react/src/features/UI/UI_elements/Crosshair.jsx
  prova-react/src/features/UI/ui.css
  prova-react/src/features/decorations/Decoration.jsx
  prova-react/src/features/decorations/Decorations.jsx
  prova-react/src/features/map/Map.jsx
  prova-react/src/features/products/model/Model.jsx
  prova-react/src/features/raycaster/Raycaster.jsx
Labels: Da verificare, Code
