Repository 7clickers/ShowRoom3D, pull requests merged in 2023-01, with the labels that each got.

#60 Glossario
  documentazione_esterna/glossario_v0.1.0.pdf
  latex/esterni/doc_esterna/glossario/config/changelog_input.tex
  latex/esterni/doc_esterna/glossario/config/titlepage_input.tex
  latex/esterni/doc_esterna/glossario/glossario_v0.1.0.tex
  latex/esterni/doc_esterna/glossario/res/sections/01_alphabetical_order.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/a/a.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/b/b.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/c/c.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/d/d.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/e/e.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/f/f.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/g/g.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/h/h.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/i/i.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/j/j.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/k/k.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/l/l.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/m/m.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/n/n.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/o/o.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/p/p.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/q/q.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/r/r.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/s/s.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/t/t.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/u/u.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/v/v.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/w/w.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/x/x.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/y/y.tex
  latex/esterni/doc_esterna/glossario/res/sections/alphabet/z/z.tex
  script_glossario.py
Labels: Documentazione, Da verificare

#50 Norme di progetto
  documentazione_interna/norme_di_progetto.pdf
  latex/interni/doc_interna/norme_di_progetto/config/changelog_input.tex
  latex/interni/doc_interna/norme_di_progetto/config/titlepage_input.tex
  latex/interni/doc_interna/norme_di_progetto/norme_di_progetto.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/01_content.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/approvazione.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/convenzioni_generali.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/documentazione_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/strumenti_per_la_stesura.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/verifica.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/organizzazione_del_gruppo/organizzazione_del_gruppo_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/organizzazione_del_gruppo/ruoli.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/strumenti_collaborativi/github.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/strumenti_collaborativi/glossario.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/strumenti_collaborativi/strumenti_collaborativi_main.tex
  latex/interni/verbali/verbale_interno_16-11-22/res/sections/02_content.log
Labels: Documentazione, P=Media, Da verificare

#66 upload VI_14-12-22
  documentazione_interna/verbali/VI_14-12-22.pdf
  latex/interni/verbali/verbale_interno_14-12-22/VI_14-12-22.tex
  latex/interni/verbali/verbale_interno_14-12-22/config/changelog_input.tex
  latex/interni/verbali/verbale_interno_14-12-22/config/titlepage_input.tex
  latex/interni/verbali/verbale_interno_14-12-22/config/tracking_input.tex
  latex/interni/verbali/verbale_interno_14-12-22/res/sections/01_introduction.tex
  latex/interni/verbali/verbale_interno_14-12-22/res/sections/02_content.tex
Labels: Da verificare

#72 VI_04-01-23
  documentazione_interna/verbali/VI_04-01-23.pdf
  latex/interni/verbali/verbale_interno_04-01-23/VI_04-01-23.tex
  latex/interni/verbali/verbale_interno_04-01-23/config/changelog_input.tex
  latex/interni/verbali/verbale_interno_04-01-23/config/titlepage_input.tex
  latex/interni/verbali/verbale_interno_04-01-23/config/tracking_input.tex
  latex/interni/verbali/verbale_interno_04-01-23/res/sections/01_introduction.tex
  latex/interni/verbali/verbale_interno_04-01-23/res/sections/02_content.tex
Labels: Documentazione, P=Bassa, Da verificare

#75 Norme di progetto
  documentazione_interna/norme_di_progetto.pdf
  latex/interni/doc_interna/norme_di_progetto/config/changelog_input.tex
  latex/interni/doc_interna/norme_di_progetto/config/titlepage_input.tex
  latex/interni/doc_interna/norme_di_progetto/norme_di_progetto.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/approvazione.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/convenzioni_generali.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/documentazione_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/glossario.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/documentazione/strumenti_per_la_stesura.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/gestione_infrastrutture/gestione_infrastrutture_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/gestione_infrastrutture/strumenti_collaborativi.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/gestione_organizzativa/gestione_organizzativa_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/gestione_organizzativa/ruoli.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_12207_1995/isoiec_12207_1995_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_12207_1995/processi_organizzativi.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_12207_1995/processi_primari.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_12207_1995/processi_supporto.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_9126/isoiec_9126_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_9126/modello_qualità.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_9126/qualità_esterne.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_9126/qualità_in_uso.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/isoiec_9126/qualità_interne.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/organizzazione_del_gruppo/organizzazione_del_gruppo_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/strumenti_collaborativi/strumenti_collaborativi_main.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/verifica/verifica_documentazione.tex
  latex/interni/doc_interna/norme_di_progetto/res/sections/verifica/verifica_main.tex
  script_glossario.py
Labels: Documentazione, P=Alta, Da verificare

#67 Appr_VI_07-12-22
  documentazione_interna/verbali/VI_07-12-22.pdf
  latex/interni/verbali/verbale_interno_07-12-22/VI_07_12_22.tex
  latex/interni/verbali/verbale_interno_07-12-22/config/changelog_input.tex
  latex/interni/verbali/verbale_interno_07-12-22/config/titlepage_input.tex
  latex/interni/verbali/verbale_interno_07-12-22/config/tracking_input.tex
  latex/interni/verbali/verbale_interno_07-12-22/res/sections/01_introduction.tex
  latex/interni/verbali/verbale_interno_07-12-22/res/sections/02_content.tex
Labels: Documentazione, Da approvare, P=Alta

#55 Piano di progetto
  documentazione_esterna/piano_di_progetto_v1.1.0.pdf
  documentazione_esterna/piano_di_progetto_v1.1.4.pdf
  latex/esterni/doc_esterna/piano_di_progetto/config/changelog_input.tex
  latex/esterni/doc_esterna/piano_di_progetto/config/titlepage_input.tex
  latex/esterni/doc_esterna/piano_di_progetto/image/analisi_preliminare_gantt.png
  latex/esterni/doc_esterna/piano_di_progetto/image/gantt_poc.png
  latex/esterni/doc_esterna/piano_di_progetto/piano_di_progetto_v1.1.4.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/01_analisi_dei_rischi.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/02_pianificazione.tex
  latex/esterni/doc_esterna/piano_di_progetto/res/sections/03_preventivo.tex
  latex/template/package.tex
Labels: Documentazione, P=Media, Da verificare, G Piano di progetto
